body {
    background: rgb(53, 56, 74);
    margin: 0;
    font-family: "Segoe UI", "Lucida Grande", "Ubuntu";
    overflow: hidden;
    -webkit-user-select: none;
}

* {
    box-sizing: border-box;
}

#logo {
    display: block;
    margin: 30px auto;
}

main {
    margin: auto;
    width: 250px;
}

.button {
    padding: 8px;
    background: rgb(39, 190, 154);
    color: white;
    border-radius: 2px;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .2s;
}
.button:hover {
    box-shadow: 0 0 5px rgb(39, 190, 154);
}

section {
    position: relative;
    margin: 20px 0;
    border: 1px solid rgba(255,255,255,.2);
    padding: 20px 25px;
}
section:before {
    content: attr(data-name);
    position: absolute;
    top: -9px;
    color: rgba(255,255,255,.2);
    font-size: 12px;
    background: rgb(53, 56, 74);
    padding: 0 5px;
}
.text {
    margin-bottom: 10px;
    position: relative;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    background: none;
    color: white;
    font-family: inherit;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
label {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 8px;
    left: 8px;
    pointer-events: none;
    color: rgba(255,255,255,.4);
    font-size: 12px;
    transition: top .5s, color .5s;
}
input[type="text"]:focus+label, input[type="text"]:not(:placeholder-shown)+label  {
    top: -5px;
    color: rgba(255,255,255,0);
}

label:after {
    content: "";
    height: 2px;
    position: absolute;
    background: rgb(39, 190, 154);
    width: 0;
    bottom: 0;
    left: -8px;
    transition: width .5s;
}
input[type="text"]:focus+label:after, input[type="text"]:not(:placeholder-shown)+label:after {
    width: 100%;
}

.icon {
    position: absolute;
    stroke: white;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#overlay {
    background: rgb(53, 56, 74);;
    color: white;
    position: absolute;
    top: 0;
    padding: 50px;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 1;
    transition: opacity .2s;
}

.hidden {
    display: none;
}
#overlay.hidden {
    display: block;
    pointer-events: none;
    opacity: 0;
}